body, p, header,img,h1,h2{
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-block-start: 0;
    padding-block-start: 0;
}

body{
    background: rgb(237, 237, 237);
}

@media(max-width:480px){
    body{padding: 80px 1em;}
}
@media(min-width:481px) and (max-width:800px){
    body{padding: 80px 2em;}
}
@media(min-width:801px){
    body{padding: 5em 5em;}
}

.container{
    display: table;
    background: white;
    text-align: center;
    padding: 0 1em;
}

.highlight{
    color: rgb(255, 55, 25);
}

header{
    text-align: center;
    margin-top: -75px;
    margin-bottom: 15px;
    border-bottom: 2px groove rgb(237, 237, 237);
}

.container > header > img {
    border: 12px solid rgb(237, 237, 237);
    border-radius: 50%;
    max-width: 150px;
    position: relative;
    
}

header  h3 {
    font-size: 25px
}

section h3::before{ content: '//   '}
section h3{ color: rgb(255, 55, 25);}
section p {margin-bottom:0.7em}

#educacion .ano{font-weight: bolder;}
#educacion .data{background: rgb(236, 236, 236); padding: 10px 10px 0 10px}
#educacion .ano, #educacion .data{margin-bottom: 0.6em}


#skills p{
    margin: 2.5px 0
}

#skills p span{
    background: rgb(255, 55, 25);
    color: white;
    display: table;
    padding: 3px;
    font-weight: bolder
}

#experiencia .fecha{
    color: darkgrey;
    font-size: 13px
}
#experiencia .row {
    margin-bottom: 1em
}

#idiomas > p {
    border-bottom: 1px solid lightgrey
}

#idiomas > p > span{
    float: right
}

#idiomas img{
    margin: 0;
    padding: 0;
    max-height: 1em;
    bottom: 2px;
    position: relative;
}

p#hobbies span{
    color: white;
    background: rgb(187, 67, 100);
    padding: 4px;
    font-weight: bold;
    border:none;
    margin: 6px;
    float: none;
    font-size: 12px;
    letter-spacing: 0.5px
}

footer{
    border-top: 1px solid darkgrey;
    text-align: right;
    color: rgb(123, 113, 120);
    font-size: 14px;
    padding-bottom: 5px
}