.row {
  clear: both;
  text-align: justify;
  position: relative;
  box-sizing: border-box; }

.row * {
  box-sizing: border-box; }

@media (max-width: 480px) {
  .col-sm-1 {
    padding-right: 10px;
    float: left;
    width: 8.3333333333%; }

  .col-sm-offset-1 {
    float: left;
    margin-left: 8.3333333333%; }

  .col-sm-2 {
    padding-right: 10px;
    float: left;
    width: 16.6666666667%; }

  .col-sm-offset-2 {
    float: left;
    margin-left: 16.6666666667%; }

  .col-sm-3 {
    padding-right: 10px;
    float: left;
    width: 25%; }

  .col-sm-offset-3 {
    float: left;
    margin-left: 25%; }

  .col-sm-4 {
    padding-right: 10px;
    float: left;
    width: 33.3333333333%; }

  .col-sm-offset-4 {
    float: left;
    margin-left: 33.3333333333%; }

  .col-sm-5 {
    padding-right: 10px;
    float: left;
    width: 41.6666666667%; }

  .col-sm-offset-5 {
    float: left;
    margin-left: 41.6666666667%; }

  .col-sm-6 {
    padding-right: 10px;
    float: left;
    width: 50%; }

  .col-sm-offset-6 {
    float: left;
    margin-left: 50%; }

  .col-sm-7 {
    padding-right: 10px;
    float: left;
    width: 58.3333333333%; }

  .col-sm-offset-7 {
    float: left;
    margin-left: 58.3333333333%; }

  .col-sm-8 {
    padding-right: 10px;
    float: left;
    width: 66.6666666667%; }

  .col-sm-offset-8 {
    float: left;
    margin-left: 66.6666666667%; }

  .col-sm-9 {
    padding-right: 10px;
    float: left;
    width: 75%; }

  .col-sm-offset-9 {
    float: left;
    margin-left: 75%; }

  .col-sm-10 {
    padding-right: 10px;
    float: left;
    width: 83.3333333333%; }

  .col-sm-offset-10 {
    float: left;
    margin-left: 83.3333333333%; }

  .col-sm-11 {
    padding-right: 10px;
    float: left;
    width: 91.6666666667%; }

  .col-sm-offset-11 {
    float: left;
    margin-left: 91.6666666667%; }

  .col-sm-12 {
    padding-right: 10px;
    float: left;
    width: 100%; } }
@media (max-width: 800px) and (min-width: 481px) {
  .col-md-1 {
    padding-right: 10px;
    float: left;
    width: 8.3333333333%; }

  .col-md-offset-1 {
    float: left;
    margin-left: 8.3333333333%; }

  .col-md-2 {
    padding-right: 10px;
    float: left;
    width: 16.6666666667%; }

  .col-md-offset-2 {
    float: left;
    margin-left: 16.6666666667%; }

  .col-md-3 {
    padding-right: 10px;
    float: left;
    width: 25%; }

  .col-md-offset-3 {
    float: left;
    margin-left: 25%; }

  .col-md-4 {
    padding-right: 10px;
    float: left;
    width: 33.3333333333%; }

  .col-md-offset-4 {
    float: left;
    margin-left: 33.3333333333%; }

  .col-md-5 {
    padding-right: 10px;
    float: left;
    width: 41.6666666667%; }

  .col-md-offset-5 {
    float: left;
    margin-left: 41.6666666667%; }

  .col-md-6 {
    padding-right: 10px;
    float: left;
    width: 50%; }

  .col-md-offset-6 {
    float: left;
    margin-left: 50%; }

  .col-md-7 {
    padding-right: 10px;
    float: left;
    width: 58.3333333333%; }

  .col-md-offset-7 {
    float: left;
    margin-left: 58.3333333333%; }

  .col-md-8 {
    padding-right: 10px;
    float: left;
    width: 66.6666666667%; }

  .col-md-offset-8 {
    float: left;
    margin-left: 66.6666666667%; }

  .col-md-9 {
    padding-right: 10px;
    float: left;
    width: 75%; }

  .col-md-offset-9 {
    float: left;
    margin-left: 75%; }

  .col-md-10 {
    padding-right: 10px;
    float: left;
    width: 83.3333333333%; }

  .col-md-offset-10 {
    float: left;
    margin-left: 83.3333333333%; }

  .col-md-11 {
    padding-right: 10px;
    float: left;
    width: 91.6666666667%; }

  .col-md-offset-11 {
    float: left;
    margin-left: 91.6666666667%; }

  .col-md-12 {
    padding-right: 10px;
    float: left;
    width: 100%; } }
@media (min-width: 801px) {
  .col-lg-1 {
    padding-right: 10px;
    float: left;
    width: 8.3333333333%; }

  .col-lg-offset-1 {
    float: left;
    margin-left: 8.3333333333%; }

  .col-lg-2 {
    padding-right: 10px;
    float: left;
    width: 16.6666666667%; }

  .col-lg-offset-2 {
    float: left;
    margin-left: 16.6666666667%; }

  .col-lg-3 {
    padding-right: 10px;
    float: left;
    width: 25%; }

  .col-lg-offset-3 {
    float: left;
    margin-left: 25%; }

  .col-lg-4 {
    padding-right: 10px;
    float: left;
    width: 33.3333333333%; }

  .col-lg-offset-4 {
    float: left;
    margin-left: 33.3333333333%; }

  .col-lg-5 {
    padding-right: 10px;
    float: left;
    width: 41.6666666667%; }

  .col-lg-offset-5 {
    float: left;
    margin-left: 41.6666666667%; }

  .col-lg-6 {
    padding-right: 10px;
    float: left;
    width: 50%; }

  .col-lg-offset-6 {
    float: left;
    margin-left: 50%; }

  .col-lg-7 {
    padding-right: 10px;
    float: left;
    width: 58.3333333333%; }

  .col-lg-offset-7 {
    float: left;
    margin-left: 58.3333333333%; }

  .col-lg-8 {
    padding-right: 10px;
    float: left;
    width: 66.6666666667%; }

  .col-lg-offset-8 {
    float: left;
    margin-left: 66.6666666667%; }

  .col-lg-9 {
    padding-right: 10px;
    float: left;
    width: 75%; }

  .col-lg-offset-9 {
    float: left;
    margin-left: 75%; }

  .col-lg-10 {
    padding-right: 10px;
    float: left;
    width: 83.3333333333%; }

  .col-lg-offset-10 {
    float: left;
    margin-left: 83.3333333333%; }

  .col-lg-11 {
    padding-right: 10px;
    float: left;
    width: 91.6666666667%; }

  .col-lg-offset-11 {
    float: left;
    margin-left: 91.6666666667%; }

  .col-lg-12 {
    padding-right: 10px;
    float: left;
    width: 100%; } }

/*# sourceMappingURL=grillas.css.map */
