$pc: 100%/12;

.row{
    display: table;
    clear: both;
    text-align: justify;
    position: relative;
    box-sizing: border-box;
}

.row * {
    box-sizing: border-box;
}
@media (max-width: 480px)
{
    @for $i from 1 through 12
    {
      .col-sm-#{$i}{
        padding-right:10px;
        float: left;
        width: #{$pc * $i}
      }
      @if $i < 12
      {
        .col-sm-offset-#{$i}{
           float: left;
           margin-left: #{$pc * $i}
        }
      }
    }
}

@media (max-width: 800px) and (min-width: 481px)
{
    @for $i from 1 through 12
    {
      .col-md-#{$i}{
        padding-right:10px;
        float: left;
        width: #{$pc * $i}
      }
      @if $i < 12
      {
        .col-md-offset-#{$i}{
           float: left;
           margin-left: #{$pc* $i}
        }
      }
    }
}

@media (min-width:801px)
{
    @for $i from 1 through 12
    {
      .col-lg-#{$i}{
        padding-right:10px;
        float: left;
        width: #{$pc * $i}
      }
      @if $i < 12
      {
        .col-lg-offset-#{$i}{
           float: left;
           margin-left: #{$pc * $i}
        }
      }
    }
}